---
interface Props {
  section: string;
  color: string;
  title: string;
  disccount: number;
  price: number;
  description: string;
  url: string;
}

const { color, title, disccount, description, price, url, section } =
  Astro.props;

function formatNumber(num) {
  return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}
---

<div
  class="promotion flex bg-white rounded-lg overflow-hidden w-full mix-h-max"
>
  <div class="relative">
    <div
      class="absolute top-4 left-2 rounded-xl text-white px-3 py-1 text-xs"
      style={`background-color: ${color}`}
    >
      Promocion
    </div>
    <img
      src={`/images/promotions/${url}.webp`}
      alt={title}
      class="h-full w-64 object-cover img-promotion"
      decoding="async"
      loading="lazy"
    />
  </div>
  <div class="px-6 py-4 flex flex-col justify-between">
    <div>
      <h2 class="font-bold text-2xl">
        {section}
        <span style={`color: ${color}`}> {title}</span>
      </h2>
      <h3 class="font-semibold mt-2">Caracteristicas</h3>
      <p class="text-[#555] text-sm">
        {description}
      </p>
    </div>
    <div class="flex flex-col">
      <h3 class="font-semibold" style={`color: ${color}`}>Precio</h3>
      <div class="flex gap-2 items-end">
        <!--
        <p class="text-gray-400 line-through">${price}</p>  
        -->
        <p class="font-extrabold text-black text-xl">${formatNumber(price)}</p>
      </div>
      <a
        href={`https://wa.me/542494370102?text=Hola,%20estoy%20interesado%20en%20la%20promocion%20${section}%20${title}`}
        style={`background:  ${color}`}
        target="_blank"
        class="shadow-xl mt-2 text-white text-sm py-2 w-full text-center rounded-lg transition-[0.3s] hover:scale-105"
      >
        Comprar
      </a>
    </div>
  </div>
</div>

<script>
  const promotions = document.querySelectorAll(".promotion");
  const modal = document.getElementById("dialog") as HTMLDialogElement;

  promotions.forEach((promotion) => {
    promotion.addEventListener("click", () => {
      const imgPromotion = promotion.querySelector(
        ".img-promotion"
      ) as HTMLImageElement;
      modal.querySelector("img").setAttribute("src", imgPromotion.src);
      modal.open = true;
    });
  });
</script>
