---
interface Props {
  backgroundUrl?: string;
  className?: string;
  h?: string;
  pb?: string;
  pt?: string;
}

const {
  backgroundUrl,
  className = "",
  h = "",
  pb = "pb-20",
  pt = "pt-10",
} = Astro.props;
---

<section class="relative">
  <img
    src={backgroundUrl}
    class="object-cover absolute top-0 left-0 w-full h-full z-[-1]"
    decoding="async"
    loading="lazy"
  />
  <div
    class={`${className} ${h} ${backgroundUrl ? "bg-gradient-to-tr from-[#333e] to-[#213937ee]" : "bg-slate-100"} ${pb} ${pt} pt-10 z-50 w-full h-full px-phone`}
  >
    <slot />
  </div>
</section>
