---
import IconClose from "./icons/IconClose.astro";
import IconFacebook from "./icons/IconFacebook.astro";
import IconMenu from "./icons/IconMenu.astro";
import IconInstagram from "./icons/IconInstagram.astro";
import IconMail from "./icons/IconMail.astro";
import IconPhone from "./icons/IconPhone.astro";
import { Image } from "astro:assets";
import localLogo from "../../public/images/logos/logo.webp";
import { CONTACT } from "../constants.ts";
---

<header class="fixed top-0 w-full bg-white z-50 shadow-sm">
  <section
    class="bg-gradient-to-tr from-slate-600 to-primary hidden sm:block px-phone"
  >
    <div
      class="sm:max-w-3xl sm:mx-auto flex justify-between items-center py-1 text-white text-xs"
    >
      <div class="flex gap-4">
        <div class="flex gap-1">
          <IconPhone w="w-4" />
          <p>{CONTACT.phone}</p>
        </div>
        <a class="flex gap-1 cursor-pointer" href={`mailto:${CONTACT.gmail}`}>
          <IconMail w="w-4" />
          <p>{CONTACT.gmail}</p>
        </a>
      </div>
      <div class="flex gap-1">
        <a
          href={CONTACT.facebook}
          target="_blank"
          class="cursor-pointer hover:scale-105"
          aria-label="Conoce nuestro facebook"
        >
          <IconFacebook w="w-4" />
        </a>
        <a
          href={CONTACT.instagram}
          target="_blank"
          class="cursor-pointer hover:scale-105"
          aria-label="Conoce nuestro instagram"
        >
          <IconInstagram w="w-4" />
        </a>
      </div>
    </div>
  </section>
  <section class="px-phone">
    <div
      class="relative py-1 flex justify-between transition-[0.5s] items-center w-full sm:max-w-3xl sm:mx-auto"
      id="header"
    >
      <a href="/#home">
        <Image
          src={localLogo}
          alt="Logo vidrieria Mamparas esmeralda"
          class="h-12 w-auto object-contain"
        />
      </a>
      <div class="hidden sm:flex">
        <ul class="gap-4 flex items-center text-primary uppercase text-xs">
          <li>
            <a href="/#home" class="rounded-lg p-1 hover:bg-[#3331]">Home</a>
          </li>
          <li>
            <a href="/#productos" class="rounded-lg p-1 hover:bg-[#3331]"
              >Productos</a
            >
          </li>
          <li>
            <a href="/#empresa" class="rounded-lg p-1 hover:bg-[#3331]"
              >La empresa</a
            >
          </li>
          <li>
            <a href="/#contacto" class="rounded-lg p-1 hover:bg-[#3331]"
              >Contacto</a
            >
          </li>
          <li class="transition-[0.3s] hover:scale-105">
            <a
              href="/#contacto"
              class="shadow-xl mt-10 bg-gradient-to-tr from-slate-600 to-primary text-white py-2 px-3 w-full text-center rounded-lg text-xs capitalize sm:max-w-60"
              >Contáctanos Ahora</a
            >
          </li>
        </ul>
      </div>

      <div class="cursor-pointer sm:hidden transition-[0.5s]">
        <div class="menu-icon">
          <IconMenu />
        </div>
      </div>
    </div>
    <!-- Menu mobile -->
    <div
      class="sm:hidden pb-20 bg-gradient-to-tr from-slate-600 to-primary py-2 px-phone flex flex-col translate-x-full justify-between absolute top-0 transition-[0.5s] right-0 w-3/4 h-[100dvh] bg-white z-50"
      id="menu"
    >
      <ul class="flex gap-4 flex-col text-white font-light text-xl" id="menu-a">
        <li class="flex justify-end pb-4 border-b-2 border-primary">
          <div class="menu-icon cursor-pointer">
            <IconClose />
          </div>
        </li>
        <li>
          <a href="/#home" class="flex rounded-lg p-1 hover:bg-[#3331]">Home</a>
        </li>
        <li>
          <a href="/#productos" class="flex rounded-lg p-1 hover:bg-[#3331]"
            >Productos</a
          >
        </li>
        <li>
          <a href="/#empresa" class="flex rounded-lg p-1 hover:bg-[#3331]"
            >La empresa</a
          >
        </li>
        <li>
          <a href="/#contacto" class="flex rounded-lg p-1 hover:bg-[#3331]"
            >Contacto</a
          >
        </li>
      </ul>
      <div>
        <div
          class="flex gap-4 flex-col text-white text-xs border-y-2 py-4 border-primary"
        >
          <div class="flex gap-1">
            <IconPhone w="w-4" />
            <p>{CONTACT.phone}</p>
          </div>
          <div class="flex gap-1">
            <IconMail w="w-4" />
            <p>{CONTACT.gmail}</p>
          </div>
        </div>
        <div class="flex gap-1 mt-4">
          <a
            href={CONTACT.facebook}
            target="_blank"
            class="cursor-pointer hover:scale-105"
            aria-label="Conoce nuestro facebook"
          >
            <IconFacebook w="w-6" />
          </a>
          <a
            href={CONTACT.instagram}
            target="_blank"
            class="cursor-pointer hover:scale-105"
            aria-label="Conoce nuestro instagram"
          >
            <IconInstagram w="w-6" />
          </a>
        </div>
      </div>
    </div>
    <button
      class="top-0 left-0 fixed bg-shadow h-screen w-full cursor-pointer hidden menu-icon"
      id="menu-background"></button>
  </section>

  <script>
    const menuIcons = document.querySelectorAll(".menu-icon");
    const menu = document.getElementById("menu");
    const menuA = document.querySelectorAll("#menu-a li a");
    const menuBackground = document.getElementById("menu-background");

    menuIcons.forEach((icon) => {
      icon.addEventListener("click", () => {
        menu.classList.toggle("translate-x-full");
        menuBackground.classList.toggle("hidden");
      });
    });

    menuA.forEach((a) => {
      a.addEventListener("click", () => {
        menu.classList.toggle("translate-x-full");
        menuBackground.classList.toggle("hidden");
      });
    });
  </script>
</header>
